.dayContainer {
    padding: 2rem 0.5rem;
    border: 1px solid var(--darken);
    color: var(--darken);
    min-width: 4rem;
    width: 8rem;
    cursor: pointer;
    background: var(--green);
    font-size: 1.5rem;
}

.dayContainer:hover {
    color: var(--darken);
    background: var(--white);
}

.dayContainer__day{
    font-weight: bold;
}

.dayContainer__date{
    font-size: 2.5rem;
}

.today {
    color: var(--white);
    background: var(--blue);;
    border: 2px solid var(--white);
}

.selected {
    color: var(--white);
    background: var(--red);
}