.dayContainer {
    padding: 2rem 0.5rem;
    border: 1px solid #282c34;
    color: #282c34;
    min-width: 4rem;
    width: 8rem;
    cursor: pointer;
}

.dayContainer:hover {
    color: #282c34;
    background: #fff;
}

.today {
    color: #fff;
    background: #3860af;
    border: 2px solid #fff;
}

.selected {
    color: #fff;
    background: #af3840;
}